.barraBusca {
    display: flex;
    gap: 15px;
    background-color: #656c474d;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #656c47;
    margin-bottom: 25px;
    align-items: center;
}

.inputBusca {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #656c47;
    border-radius: 8px;
    outline: none;
    height: 40px;
    font-size: 14px;
    box-sizing: border-box;
}

.selectFiltro {
    padding: 10px 15px;
    border: 1px solid #D5CDB8;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #3B4231;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    box-sizing: border-box;
}