.card {
  background: white;

  border-radius: 16px;

  padding: 24px;

  box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.topo {
  display: flex;

  align-items: center;

  gap: 16px;

  margin-bottom: 24px;
}

.avatar {
  width: 70px;

  height: 70px;

  border-radius: 50%;

  object-fit: cover;
}

.topo h2 {
  margin: 0;

  font-size: 22px;

  color: #3b4231;
}

.topo p {
  margin-top: 4px;

  color: #777;
}

.info {
  display: flex;

  flex-direction: column;

  gap: 16px;
}

.item {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding-bottom: 10px;

  border-bottom: 1px solid #ececec;
}

.label {
  font-weight: 600;

  color: #656c47;
}